// lifted from emfcamp/Website:css/_variables.scss
$brand-2024-pale-green:         #AFC944;
$brand-2024-mid-green:          #528329;
$brand-2024-dark-green:         #213018;
$brand-2024-yellow:             #F9E200;
$brand-2024-orange:             #F77F02;
$brand-2024-pink:               #F55089;
$brand-2024-blue:               #2EADD9;

$emf-colours: (
  "emf-pale-green": $brand-2024-pale-green,
  "emf-mid-green": $brand-2024-mid-green,
  "emf-dark-green": $brand-2024-dark-green,
  "emf-yellow": $brand-2024-yellow,
  "emf-orange": $brand-2024-orange,
  "emf-pink": $brand-2024-pink,
  "emf-blue": $brand-2024-blue,
);

// EMF 2024 Dark Green
$primary: #213018;

// EMF 2024 Orange
$secondary: #f77f02;

$google_font_name: "Titillium Web";
$google_font_family: "Titillium+Web:300,300i,400,400i,700,700i";
